body {
    background-color: rgba(3, 65, 126, 1);
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-logado {
    width: 100%;
    background-color: rgba(3, 65, 126, 1);
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 5px;

}

.header-login-logoff {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 10px;
}

.Sessoes {
    background-color: #007bff;
    flex-grow: 1;
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.div-login {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.div-btn-ajuste {
    margin-top: 100px;
    padding: 10px 20px;
    margin-bottom: 10px;

}

.div-historico {
    background-color: #e9ecee7e;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    clear: both;
    text-align: left;
}

.resposta-historico {
    word-break: break-word;
    max-width: 100%;
}

.div-efeito-pergunta {
    padding: 8px;
    background-color: #033c4b49;
    border-radius: 3px;
    border-left: 6px solid #285ba7;
}

.div-efeito-resposta {
    padding: 8px;
    background-color: #1a3c5aa6;
    border-radius: 3px;
    border-left: 6px solid #0cc436;
}

h3 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: whitesmoke;
    text-shadow: 0 0 10px rgb(143, 185, 226);
    font-size: 1.8rem;
}

.texto-chat {
    clear: both;
    text-align: left;
}

.hora-chat {
    font-size: 0.75rem;
}

.azul4blue {
    color: rgb(12, 89, 124);
    text-shadow: 0 0 5px color(rgb(5, 54, 110)), 0 0 10px rgba(108, 105, 255, 0.4);
    font-weight: 600;
}

.btn-login-usuario,
.btn-logout,
.btn-mudança-pagina {

    margin-top: 35px;
    padding: 10px 20px;
    background-color: #183a47;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid var(--cyan);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.4), 0 0 15px rgba(255, 105, 245, 0.2);
    transition: 0.3s;
    margin: 0 10px;
    cursor: pointer;
}

.btn-login-usuario:hover {
    background: rgb(116, 154, 182);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.btn-logout {
    background-color: #f44336;
    color: white;
}

.btn-logout:hover {
    background: #8f1c14;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.btn-mudança-pagina {
    background-color: #183a47;
    color: white;
}

.btn-mudança-pagina:hover {
    background: rgb(116, 154, 182);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.btn-send {
    padding: 12px 20px;
    background-color: #052b36;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-send:hover {
    background: rgb(116, 154, 182);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.imagem-logo {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.logo-divisoria {
    border-bottom: 1px solid #fff;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer-notes {
    margin-top: 20px;
    font-size: 0.85rem;
    text-align: center;
}

.chat-box {
    max-width: 1500px;
    width: 1000px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #007bff;
    color: #fff;
}

.message-area {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #e9ecee7e;
    border-radius: 5px;
    text-align: left;
}

.user-message {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 15px;
    background-color: #033c4b49;
    float: right;
    clear: both;
    max-width: 80%;
    text-align: right;
    color: #ffffff;
    word-break: break-word;
    max-width: 95%;
}

.chatbot-message {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 15px;
    background-color: #F0F0F0;
    float: left;
    clear: both;
    max-width: 90%;
    text-align: left;
    color: #ffffff;
}

.chatbot-response {
    clear: both;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 8px 10px;
    font-size: 0.9em;
    color: #fff;
    text-align: left;
    background-color: #1a3c5aa6;
    border-radius: 5px rgba(26, 60, 90, 0.466)
    
}

.input-form {
    display: flex;
    margin-top: 15px;
}

.text-input {
    flex-grow: 1;
    padding: 12px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}